<div class="footer">
    <a href="mailto:electronvpn@gmail.com"><h3>Contact Us</h3></a>
    <a href="/privacy"><h3>Privacy Policy</h3></a>
    <a href="/tos"><h3>Terms of Service</h3></a>
    <a href="/"><h3>© 2019 ElectronVPN</h3></a>
</div>