<section>
    <nav>
        <div class="logo">
            <a href="/" class="bolder" id="desktop-logo">ElectronVPN</a>
            <a href="/" id="mobile-logo">ElectronVPN</a>
        </div>
        <div class="desktop-nav">
            <a href="/admin/help" class="desktop-nav-items"> Help</a>
            <a href="/logout" class="desktop-nav-items">Sign Out</a>
        </div>
        <div class="mobile-nav">
            <div id="menuArea">
                <input type="checkbox" id="menuToggle"></input>
                <label for="menuToggle" class="menuOpen">
                <div class="open"></div>
                </label>
                <div class="menu menuEffects">
                <label for="menuToggle"></label>
                    <div class="menuContent">
                        <ul>
                            <li><a href="/admin/help">Help</a></li>
                            <li><a href="/logout">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>