<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
</head>
<body>
<style>
    body { text-align: center; padding: 150px; }
    h1 { font-size: 50px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #ff00c4; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
    @media only screen and (max-width: 768px){
        body { padding: 0px; padding-top: 33%; font-size: 18px; }
        h1 {font-size: 32px;}
        article { width: 90%;}
    }
    @media only screen and (max-width: 320px){
        h1 {font-size: 28px;}
    }
  </style>
  <article>
      <h1>404</h1>
      <div>
          <p>Page not found. <a href="javascript:history.back()">Go Back</a><br><br><a href="mailto:electronvpn@gmail.com">Contact us</a>.</p>
      </div>
  </article>    
</body>
</html>
